In [23]:
import pandas as pd

df = pd.read_csv("data/salary_data.csv")

In [24]:
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [25]:
import numpy as np

x = np.array(df['YearsExperience'])
y = np.array(df['Salary'])

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(x,y,random_state=43, test_size=0.2)

In [29]:

X_train = X_train.reshape(-1, 1)
X_test = X_test.reshape(-1,1)
y_train = y_train.reshape(-1,1)
y_test = y_test.reshape(-1,1)

In [30]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
print("Train Accuracy:",reg.score(X_train, y_train))
print("Test Accuracy:",reg.score(X_test, y_test))

Train Accuracy: 0.9637917906137681
Test Accuracy: 0.8688045158887867

In [31]:
print(f"Train Score : {reg.score(X_train, y_train)}")

Train Score : 0.9637917906137681

In [34]:
import pickle
filename = 'salary_prediction.sav'
pickle.dump(reg, open(filename, 'wb'))